go 1.23

use (
	./client
	./pdp
	./pip
	./pep
	./common/cryptoutil
	./common/noiseutil
	./common/protocol
	./common/logutil
	./common/ipsecutil
	./common/nattutil
	./common/attest
	./tools/spa-send
	./tools/natt-listener
	./verifier
)
